<header id="header" class="header lock-padding">
    <div class="container">
        <div class="header__box">
            <div class="menu__icons">
                <span class="menu__arrow"></span>
            </div>
            <div class="user__menu-box">
                <a class="img__box">
                    <img src="img/user-img.png" alt="" class="user__menu-img">
                </a>
                <a href="" class="user__menu-name">Шевлиев Денис</a>
                <ul class="user__menu-list">
                    <li class="user__menu-item">
                        <a href="" class="user__menu-link">
                            <img src="img/user-icon.svg" alt="" class="user__menu-icon profile">Профиль
                        </a>
                    </li>
                    <li class="user__menu-item">
                        <a href="" class="user__menu-link">
                            <img src="img/massage.svg" alt="" class="user__menu-icon">Сообщения
                        </a>
                    </li>
                    <li class="user__menu-item">

                        <a href="" class="user__menu-link">
                            <img src="img/setting.svg" alt="" class="user__menu-icon">Настройки
                        </a>
                    </li>
                </ul>
            </div>
            <nav class="header__menu">
                <ul class="header__menu-list">
                    <li class="header__menu-item">
                        <a class="header__menu-link" asp-controller="NewsRobot" asp-action="GetNews">
                            НОВОСТИ
                        </a>

                        <ul class="sub__menu-list">
                            <li class="sub__menu-item">
                                <a href="" class="sub__menu-link">Под меню</a>
                            </li>
                            <li class="sub__menu-item">
                                <a href="" class="sub__menu-link">Под меню</a>
                            </li>
                            <li class="sub__menu-item">
                                <a href="" class="sub__menu-link">Под меню</a>
                            </li>
                            <li class="sub__menu-item">
                                <a href="" class="sub__menu-link">Под меню</a>
                            </li>
                        </ul>
                    </li>
                    <li class="header__menu-item">
                        <a class="header__menu-link" href="#">
                            РОБОТЫ
                        </a>
                        <ul class="sub__menu-list">
                            <li class="sub__menu-item">
                                <a href="" class="sub__menu-link">Под меню</a>
                            </li>
                            <li class="sub__menu-item">
                                <a href="" class="sub__menu-link">Под меню</a>
                            </li>
                            <li class="sub__menu-item">
                                <a href="" class="sub__menu-link">Под меню</a>
                            </li>
                            <li class="sub__menu-item">
                                <a href="" class="sub__menu-link">Под меню</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <a class="header__log" asp-controller="Home" asp-action="Index">
                <img class="header__img" src="~/img/logo.svg" alt="">
            </a>
            <nav class="header__menu">
                <ul class="header__menu-list">
                    <li class="header__menu-item">
                        <a class="header__menu-link" href="#">
                            О КУРСАХ
                        </a>
                        <ul class="sub__menu-list">
                            <li class="sub__menu-item">
                                <a href="" class="sub__menu-link">Под меню</a>
                            </li>
                            <li class="sub__menu-item">
                                <a href="" class="sub__menu-link">Под меню</a>
                            </li>
                            <li class="sub__menu-item">
                                <a href="" class="sub__menu-link">Под меню</a>
                            </li>
                            <li class="sub__menu-item">
                                <a href="" class="sub__menu-link">Под меню</a>
                            </li>
                        </ul>
                    </li>
                    <li class="header__menu-item">
                        <a class="header__menu-link" href="#">
                            МАГАЗИН
                        </a>
                        <ul class="sub__menu-list">
                            <li class="sub__menu-item">
                                <a href="" class="sub__menu-link">Под меню</a>
                            </li>
                            <li class="sub__menu-item">
                                <a href="" class="sub__menu-link">Под меню</a>
                            </li>
                            <li class="sub__menu-item">
                                <a href="" class="sub__menu-link">Под меню</a>
                            </li>
                            <li class="sub__menu-item">
                                <a href="" class="sub__menu-link">Под меню</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
            <form action="" class="header__menu-form">
                <input type="text" class="header__menu-input" placeholder="enter">
                <button class="header__menu-btn">
                    <img src="~/img/search.svg" alt="" class="header__btn-img">
                </button>
            </form>
            <div class=""></div>
        </div>
    </div>
</header>
