<section class="slider">
    <div class="slider__inner">
        <div class="container">
            <div class="slider__box">
                <div class="slider__box-item">
                    <div class="slider__box-item-wrapper">
                        <div class="slider__box-info">
                            <h2 class="slider__box-title">
                                Роботы<br>
                                уже среди нас!!!
                            </h2>
                            <p class="slider__box-text">
                                Роботы – это автоматизированные машины, которые способны выполнять функции человека при
                                взаимодействии с окружающим миром. О них люди мечтали еще с древних времен, и вот
                                сейчас
                                эти
                                механизмы входят в наше общество с огромной скоростью.
                            </p>
                            <a href="#login" class="slider__box-btn popup-link">Погнали учиться</a>
                        </div>
                        <div class="slider__box-images">
                            <img src="img/Rectangle 4.png" alt="" class="slider__box-img">
                        </div>
                    </div>
                </div>
                <div class="slider__box-item">
                    <div class="slider__box-item-wrapper">
                        <div class="slider__box-info">
                            <h2 class="slider__box-title">
                                Роботизированная платформа для точного земледелия
                            </h2>
                            <p class="slider__box-text">
                                В настоящее время в мире наблюдается рост численности населения и повышение спроса на
                                продукцию сельского хозяйства. Это, в свою очередь, приводит к развитию автоматизации и
                                роботизации этой отрасли.
                            </p>
                            <a href="#login" class="slider__box-btn popup-link">Погнали учиться</a>
                        </div>
                        <a href="#image" class="slider__box-images popup-link">
                            <img src="img/robot.png" alt="" class="slider__box-img">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
